.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
!packages/kilo-vscode/.vscode
# use vscode workspaces with peacock to have many vscodes with the same repo:
*.code-workspace
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
logs/
*.bun-build
